.main {
  display: flex;
  max-width: 100px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 30px;
}

.main-container {
  /* max-width: 100px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
#myChart {
  max-width: 80vw;
}
.continentBtn {
  width: 100px;
  height: 20px;
  background-color: rgb(161, 163, 165);
  color: aliceblue;
  text-align: center;
  border: solid 1px transparent;
}
.continentBtn:hover {
  color: white;
  cursor: pointer;
  border: darkslategrey 1px solid;
}

.cont {
  position: relative;
}

select {
  max-width: 100px;
  position: absolute;
  top: 25px;
  border: lightblue 1px solid;
  background-color: whitesmoke;
  border-radius: 3px;
}

.specific-stats {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.SpecificCountryStats {
  width: 600px;
  height: 100%;
}
